*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #333; */
}

body{
  background-color: #333;
  min-height: calc(100vh - 70px);
}

.layout-container {
  background-color: #333;
  padding-inline: 20px;
  color: white;
}

.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  /* background-color: beige; */
  border-radius: 5px;
}

.nav a:hover {
  background-color: #555;
}

.nav button {
  background-color: beige;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.nav button:hover{
  background-color: blanchedalmond;
}

.content {
  padding: 30px;
}


.home-container {
  text-align: center;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #333;
}

.home-container h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.home-container h3{
  font-size: 20px;
  margin-bottom: 20px;
}
.home-container button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: beige;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.home-container button:hover {
  background-color: blanchedalmond;
}

.login-container {
  background-color: #333;
  text-align: center;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.login-container h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.login-container button{
  padding: 10px 20px;
  background-color: beige;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
}

.dashboard-container{
  background-color: #333;
  min-height: calc(100vh - 170px);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 50px; */
}

.dashboard-container h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.dashboard-container h3{
  font-size: 24px;
  margin-top: 10px;
}

.counter-container {
  background-color: #333;
  min-height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.counter-title{
  font-size: 48px;
  color: white;
  margin-bottom: 25px;
}

.counter-container button {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: semi-bold;
  border: none;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  background-color: beige;
}

.counter-container button:hover{
  background-color: blanchedalmond;
}

.digital-watch-container {
  /* background-color: #333; */
  /* min-height: calc(100vh - 70px); */
  text-align: center;
  padding: 50px;
}

.digital-watch-container h1{
  font-size: 48px;
  margin-bottom: 20px;
}

.digital-watch-container div {
  font-size: 54px;
  font-weight: bold;
}

.not-found-container{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
}

.not-found-container {
  h1{
    font-size: 48px;
    margin: 20px;
  }
  h2{
    font-size: 28px;
    margin-bottom: 20px;
  }
  p{
    font-size: 18px;
  }

  a {
    text-decoration: none;
    background-color: beige;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    font-weight: semi-bold;
    font-size: 20px;
  }
}


